$SoftRed: hsl(10, 79%, 65%);
$Cyan: hsl(186, 34%, 60%);

$DarkBrown: hsl(25, 47%, 15%);
$MediumBrown: hsl(28, 10%, 53%);
$Cream: hsl(27, 66%, 92%);
$VeryPaleOrange: hsl(33, 100%, 98%);


@import url(https://fonts.google.com/specimen/DM+Sans);

*{
    font-family: 'Abel', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    
}
body{
    background-color: $VeryPaleOrange;
    
}
span{
    font-size: 14px;
}
h1{
    font-size: 28px;
    font-weight: 800;
    color: $Cream;
}
h3{
    font-size: 14px;
}

hr{
    border: 1px solid $Cream;
    margin-bottom: 10px;
}

.tick{
    fill: $MediumBrown;
}
.container{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width:100%;
    .center{
        
    }
}

.top{
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: $SoftRed;
    padding: 20px;
    color: $VeryPaleOrange;
    display: flex;
    justify-content: space-between;
  
}
.bottom{
    height: auto;
    background-color: white;
    padding: 20px ;
    border-radius: 10px;
    margin-top: 20px;
    h1 {
        margin-top: 0;
        color: $DarkBrown;
    }
    .graph{
        margin-top: 35px;
    }
    .total{
        display: flex;
        justify-content: space-between;
        span{
            color: $MediumBrown;
        }
        
    }
}
.attribution{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
   
    color: white;
    text-align: center;
}
rect{
    fill: $SoftRed;
    &:hover{
        fill: $Cyan;
    }
}

.tooltip{
    // position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    background: black;
    color: $VeryPaleOrange;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
    text-decoration: none;
    font-weight: 400;
}

    .graph {
        width: auto;
    }

  


    .axis path {
        fill: none;
        stroke: #dadada;
        display: none;
    }
    .axis line{
        display: none;
    } 